<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="me.free.rucooperation">

    <application android:allowBackup="true" android:supportsRtl="true">


        <receiver android:name=".RUCBroadcastReceiver">
            <intent-filter >
                <action android:name="android.media.VOLUME_CHANGED_ACTION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
